[x]  01. The software shall allow the user to toggle if a vehicle is rented.
[x]  02. The software shall update the display to show if a vehicle is being rented.
[x]  03. The software shall disable the "Toggle rent" button if the selected vehicle is a sports car.
[x]  04. The software shall import XML.
[x]  05. The software shall update the dealer inventory when an existing dealer has new imported data. (reword maybe)
[x]  06. The software shall allow dealers' names to be edited.
[x]  07. The software shall provide an option to delete dealers.
[x]  08. The software shall display the number of vehicles a dealer has in the Dealers tab.
[x]  09. The software shall have a dropdown box to filter vehicles by dealership ID.
[x]  10. The software shall prevent duplicated IDs when adding vehicles and importing data.